@use "global" as *;

.wp-pagenavi {
  display: flex;
  align-items: center;
  justify-content: center;
 gap: 0 rem(12);
}

// 前
.previouspostslink {
  display: block;
  margin-right: rem(27);
  transition: all 0.3s;
}

// 次
.nextpostslink {
  display: block;
  margin-left: rem(27);
  transition: all 0.3s;
}

.previouspostslink,
.nextpostslink {
  display: grid;
  place-content: center;
  width: rem(38);
  height: rem(38);
  border: 1px solid $green;
  transition: all 0.3s;
}

.previouspostslink::before,
.nextpostslink::before {
  content: "";
  display: block;
  width: rem(8);
  height: rem(16);
  transition: all 0.3s;
}

.previouspostslink::before {
  background: url(../images/common/page-arrow_l.svg) no-repeat center / contain;
}

.nextpostslink::before {
  background: url(../images/common/page-arrow_r.svg) no-repeat center / contain;
}

.previouspostslink:hover,
.nextpostslink:hover {
  @include mq(md) {
    background-color: $green;
  }
}

.previouspostslink:hover::before {
  @include mq(md) {
    background: url(../images/common/page-arrow_l-white.svg) no-repeat center / contain;
  }
}

.nextpostslink:hover::before {
  @include mq(md) {
    background: url(../images/common/page-arrow_r-white.svg) no-repeat center / contain;
  }
}

.wp-pagenavi a,
.wp-pagenavi span {
  display: grid;
  place-content: center;
  width: rem(38);
  height: rem(38);
  border: 1px solid $green;
  font-size: rem(16);
  line-height: calc(19 / 16);
  font-weight: $bold;
  color: $green;
  transition: all 0.3s;
}

.wp-pagenavi a .current {
  background-color: $green;
  color: $white;
}

.wp-pagenavi a:hover,
.wp-pagenavi span {
  @include mq(md) {
    background-color: $green;
    color: $white;
  }
}

/* 前・次 のテキストを消す */
.wp-pagenavi a {
  font-size: 0;
}

.page.smaller,
.page.larger {
  font-size: rem(16);
}
